html {
	border:solid RGB(255,102,0);
	margin: 20px;
	border-width: 5px;
	background-image: url(d&dbackground.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.content	{
	width: 960px;
}
.instructions{
	color:RGB(200,200,200);
	width: 70%;
}
.right .left	{
	width: 200px;
}
#main-nav	{
	font-size: 25px;
	color:RGB(255,255,255);
	list-style-type:none;
	
}
.row	{
	display: flex;
	justify-content: flex-center;
}
.column	{
	margin: 0px;
	justify-content: flex-center;
}

.container {
	margin: 0px auto;
	width: 1850px;
	clear: both;
}
footer	{
	color:RGB(250,180,110);
	display:block;
	width:67%;
	border: 2px solid orange;
	padding: 3px;
	font-size: 15px;
	background-color: RGB(150,0,0);
	position: sticky;
	bottom: 0px;
	max-height: 600px;
}
body {
	padding: 10px;
}
#main	{
	margin: 0px;
	padding: 0px 25px;
	width: 60%;

}
#posts	{
	margin: 0px;
	width: 600px;
}
#title-a	{
	color:RGB(255, 102, 0);
	display:block;
	width:50%;
	border: 3px solid orange;
	margin-top: 5px;
	margin-right: 755px;
	font-size: 2rem;
	padding: 1rem;
	line-height: 2rem;
	background-color: RGB(150,0,0);
	font-family:OCR A Std, monospace;
	float:right;
}
#main-intro	{
	font-size: 20px; 
	color: RGB(200,200,200);
}
ul{
	list-style-type: none;
}
ul a {
	display: block;
	width: 10%;
	border: 2px solid orange;
	margin-top: 4px;
	font-size: 1.2rem;
	padding: .5rem 0rem .5rem 2rem;
	line-height: 2rem;
	background-color:RGB(255,102,0);
	list-style-type:none;

}
#DM-rules-title	{
	text-decoration: underline;
	color:RGB(255,255,255);
}
.DM-rules{
	color:RGB(200,200,200);
}
#home:hover	{
	font-family:"Bradley Hand", cursive;
}
#character:hover	{
	font-family:"Courier New", Courier, monospace;
}
#equip:hover	{
	font-family:Arial, Helvetica, sans-serif;
}
#wiki:hover	{
	font-family:Impact, Charcoal, sans-serif;
}
#spells:hover	{
	font-family:"Courier New", Courier, monospace;
}
#rules:hover	{
	font-family:OCR A Std, monospace;
}
#blog:hover		{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#home{
	animation-delay: .1s;
}
#character{
	animation-delay: .2s;
}
#equip{
	animation-delay: .3s;
}
#wiki{
	animation-delay: .4s;
}
#spells{
	animation-delay: .5s;
}
#rules{
	animation-delay: .6s;
}
#blog{
	animation-delay: .7s;
}
img {
	width:500px;
	height:auto;
	padding: 0px 0px 0px 50px;
	
}
#inspiration	{
	padding:10px;
	color:white;
}
#post1	{
	padding: 5px;
	border: 2px solid orange;
	background-color: RGB(255,220,180);
}
#post2	{
	padding: 5px;
	border: 2px solid orange;
	background-color: RGB(255,220,180);
}
.back{
	background-color: RGB(7, 50, 74);
	padding: 5px;
	border: 1px solid RGB(255,102,0);
	border-radius: 5px;
	background-size: contain;
	width: 70%;
	padding: 0px 20px;
}
h4{
	color: RGB(236,102,0);
}
#dice	{
	padding: 0px 0px 0px 50px;
	width:102px;
	height:auto;
	padding: 5px 10px 0px 0px;
}
#character-intro	{
	width: 800px;
	font-size: 25px;
	color:RGB(200,200,200);
}
#daphnia	{
	width: 350px;
	height: auto;
}
#weeds{
	width: 300px;
	height: auto;

}
#common-snail	{
	width: 400px;
	height: auto;
}
#duckweed	{
	width: 400px;
	height: auto;
}
#vid{
	object-fit: cover;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	z-index: -1;
}
#table{
	color: orange;
	background-color: green;
	width: 380px;
	padding: 10px 0px 10px 10px;
}
table{
	border-collapse: collapse;
	margin-left: 33px;
	margin-bottom: 50px;
}
td,th{
	border: 2px solid black;
	background: RGB(0,204,51);
	padding: 5px;
}
td:first-child{
	font-weight: bold;
	background-color: RGB(0, 160, 20);
	color: orange;
}
th{
	background-color: RGB(0,160,20);
}
td:nth-child(2),
td:nth-child(4){
	background:RGB(0,230,70);
}
th{
	color:orange;
}
.form{
	width: 500px;
	margin: 30px;
	background: #EAEDF0;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 20px;
	color:#5D6063;
	border-radius: 3px;
}
.form-row{
	margin-bottom: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
.form-row input[type='text'],
.form-row input[type='email']{
	background: #FFFFFF;
	border: 1px solid #D6D9DC;
	border-radius: 3px;
	width: 100%;
	padding: 7px;
	font-size: 14px;
	width: 300px;
}
.form-row textarea{
	min-height: 400px;
	font-size: 14px;
	resize: none;
}
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: white;
  background-color: RGB(255,102,0);
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
@keyframes pop-in {
	0%{
		opacity: 0;
		transform: translateX(-20rem);
	}
	100%{
		opacity: 1;
	}
}
.animate-pop-in {
	animation: pop-in .8s cubic-bezier(.2,.74,.61,1.28) forwards;
	opacity: 0;
}
@media screen and (max-width: 1000px)	{
	ul a	{
		padding: 20px;
	}
	footer{
		max-width: 700px;
	}
	img		{
		width: 25%;
		height auto;
		padding: 0px 0px 4px 0px;
	}
	#posts	{
		max-width:500 px;
	}
	#weeds	{
		width: 200px;
		height: auto;
	}
	#daphnia	{
		width: 200px;
		height: auto;
	}
	#common-snail{
		width: 200px;
		height: auto;
	}
}
@media screen and (max-width: 700px) {
  ul a	{   
    width: 300px;
	max-height: 50px;
    padding: 20px;
  }
  footer{
  display: none;
  }
  img	{
  	  width: 20%;
	  height: auto;
	  padding: 0px 0px 4px 0px;
  }
  #ogdd	{
  	  float:left;
  }
  #imgCharacters	{
  	  display:none;
  }
  #title-a	{
  	  display:none;
  }
  #main-intro	{
  	  width: 400px;
  }
  #character-intro	{
  	  width: 400px;
  }
  #weeds{
  	  width: 150px;
	  height: auto;
  }
  	#daphnia	{
		width: 150px;
		height: auto;
	}
	#common-snail{
		width: 150px;
		height: auto;
	}
	.instructions{
		width: 400px;
	}

}

