body
{
display: flex;
flex-wrap: wrap;
width: calc(400px + 400px);
}
header{
	position:relative;
	width: calc(200px + 400px);
}
#intro{
	width: auto;
}
#images{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:40%;
	white-space: nowrap;
}
nav{
	box-shadow: 0 0 0 1rem skyblue;
}
#breakfast:hover{
	color: rgba(95,244,248,1);
	font-size: 200%;
}
ul li:first-child	{
	background-color: yellow;
	width: 40%;
}
ul li:nth-child(3){
	background-color:green;
	width: 40%;
}
#lunch:hover{
	color: rgba(95,113,54,1);
	font-size: 200%;
}
#dinner:hover{
	color:hsla(120,100%,10%,0.6);;
	font-size: 200%;
}
#links:hover{
	font-size: 120%;
	font-family: Comic Sans MS;
}
a:visited{
	color: purple;
}
p::first-letter	{
	font-size: 25px;
}
