body
{
display: flex;
flex-wrap: wrap;
width: calc(400px + 400px);
}
header{
	position:relative;
	width: calc(200px + 400px);
	box-shadow: 0 0 0 0.5rem tan;
}
p{
background-color: tan;
}
#intro{
	width: auto;
}
#images{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:40%;
	white-space: nowrap;
}
#breakfast:hover{
	color: rgba(95,244,248,1);
	font-size: 200%;
}
ul li:first-child	{
	background-color: yellow;
	width: 40%;
}
ul li:nth-child(3){
	background-color:green;
	width: 40%;
}
#lunch:hover{
	color: rgba(95,113,54,1);
	font-size: 200%;
}
#dinner:hover{
	color:hsla(120,100%,10%,0.6);;
	font-size: 200%;
}
#links:hover{
	font-size: 120%;
	font-family: Comic Sans MS;
}
p::first-letter	{
	font-size: 25px;
}
#lunch-img {
	width: 100vw;
	transform: translatex(calc((40em - 100vw)/2));
}
#vid{
	object-fit: cover;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	z-index: -1;
}
